<a href="https://colab.research.google.com/github/Neiswender/DS-Unit-1-Sprint-2-Statistics/blob/master/module1/LS_DS_121_t_tests_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img align="left" src="https://lever-client-logos.s3.amazonaws.com/864372b1-534c-480e-acd5-9711f850815c-1524247202159.png" width=200>
<br></br>
<br></br>

## *Data Science Unit 1 Sprint 2 Assignment 1*

# Apply the t-test to real data

## Practice 1-Sample T-tests

One Sample t-tests determine whether or not a sample mean is statistically different from some known (or hypothesized) population mean. 

### 1) Load the Data
- Use the [automobile dataset](https://archive.ics.uci.edu/ml/datasets/Automobile)
- Fix the column headers
- Make sure NaNs are used to indicate missing values

Feel free to add code cells and text cells as needed throughout the assignment.

In [65]:
### YOUR WORK HERE

In [66]:
! wget https://archive.ics.uci.edu/ml/machine-learning-databases/autos/imports-85.data

--2020-07-23 04:35:43--  https://archive.ics.uci.edu/ml/machine-learning-databases/autos/imports-85.data
Resolving archive.ics.uci.edu (archive.ics.uci.edu)... 128.195.10.252
Connecting to archive.ics.uci.edu (archive.ics.uci.edu)|128.195.10.252|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 25936 (25K) [application/x-httpd-php]
Saving to: ‘imports-85.data.1’

imports-85.data.1   100%[===================>]  25.33K  --.-KB/s    in 0.1s

2020-07-23 04:35:44 (185 KB/s) - ‘imports-85.data.1’ saved [25936/25936]

In [67]:
! wget https://archive.ics.uci.edu/ml/machine-learning-databases/autos/imports-85.names

--2020-07-23 04:35:46--  https://archive.ics.uci.edu/ml/machine-learning-databases/autos/imports-85.names
Resolving archive.ics.uci.edu (archive.ics.uci.edu)... 128.195.10.252
Connecting to archive.ics.uci.edu (archive.ics.uci.edu)|128.195.10.252|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 4747 (4.6K) [application/x-httpd-php]
Saving to: ‘imports-85.names.1’

imports-85.names.1  100%[===================>]   4.64K  --.-KB/s    in 0s

2020-07-23 04:35:47 (102 MB/s) - ‘imports-85.names.1’ saved [4747/4747]

In [108]:
import pandas as pd
import numpy as np

column_names=['symboling','normalized-losses','make','fuel-type','aspiration','num-of-doors',
'body-style','drive-wheels','engine-location','wheel-base','length','width',
'height','curb-weight','engine-type','num-of-cylinders','engine-size',
'fuel-system','bore','stroke','compression-ratio','horsepower','peak-rpm',
'city-mpg','highway-mpg','price']
import_data = pd.read_csv('imports-85.data', names=column_names)
import_data.head(5)

   symboling normalized-losses         make  ... city-mpg highway-mpg  price
0          3                 ?  alfa-romero  ...       21          27  13495
1          3                 ?  alfa-romero  ...       21          27  16500
2          1                 ?  alfa-romero  ...       19          26  16500
3          2               164         audi  ...       24          30  13950
4          2               164         audi  ...       18          22  17450

[5 rows x 26 columns]

In [109]:
import_data=import_data.replace('?','NaN')
import_data.head()

   symboling normalized-losses         make  ... city-mpg highway-mpg  price
0          3               NaN  alfa-romero  ...       21          27  13495
1          3               NaN  alfa-romero  ...       21          27  16500
2          1               NaN  alfa-romero  ...       19          26  16500
3          2               164         audi  ...       24          30  13950
4          2               164         audi  ...       18          22  17450

[5 rows x 26 columns]

### 2) Pretend that this dataset represents the cars at a used car lot in your local town. 

- Use df.sample() to pick a random sample of 10 cars. Note that because this sample is random we are going to set the `random_state` so that all of us in the class get the same random sample. Please set your random state to `30` when using `df.sample()`

Is your sample reflective of the population value in regards to highway-mpg? Find the mean for `highway-mpg` for the entire dataset and use a 1-sample t-test to compare your estaimated sample mean to the population mean. Can you say that they are different?

In [70]:
### YOUR WORK HERE

sample= import_data.sample(10, random_state=30)

In [110]:
from scipy.stats import ttest_1samp
import_data['highway-mpg'].mean()

30.75121951219512

In [111]:
sample['highway-mpg'].mean()

32.8

In [112]:
ttest_1samp(import_data['highway-mpg'], (sample['highway-mpg'].mean()), nan_policy='omit')

Ttest_1sampResult(statistic=-4.259684116248613, pvalue=3.124442782308114e-05)

In [74]:
#p value near 0 means our sample and the average of the population are indeed different

The salesman says the cars he sells typically have a fuel efficiency of about 35 miles per gallon on the highway. You want to verify his claim but can only test 10 cars. Using your sample of 10, test his claim and report your results.

In [113]:
### YOUR WORK HERE
ttest_1samp(import_data['highway-mpg'], 35, nan_policy='omit')

Ttest_1sampResult(statistic=-8.83377348869654, pvalue=4.693897077642121e-16)

In [76]:
#that salesman is a liar

Imagine that you now have the capacity to test 100 cars on the lot. Using the same random state of `30`, take a sample of 100 cars. Run a t-test to verify the salesman's claim with your new larger sample. Do you reach the same conclusion as you did with the sample size of 10?

In [114]:
### YOUR WORK HERE
bigsample= import_data.sample(100, random_state=30)

ttest_1samp(bigsample['highway-mpg'], 35, nan_policy='omit')

Ttest_1sampResult(statistic=-6.5185242467032305, pvalue=3.003137417468754e-09)

In [78]:
#still a liar

Why might these two t-tests using the same dataset lead to different conclusions about the salesman's claim?

Outlier skews the average

## Practice 2-Sample T-tests

Two Sample t-tests determine whether or not two sample means are statistically different from each other. 

This portion of your assignment requires you to determine which issues have "statistically significant" differences between political parties in this [1980s congressional voting data](https://archive.ics.uci.edu/ml/datasets/Congressional+Voting+Records).

### 1) Load the data

The data consists of 435 instances (one for each congressperson), a class (democrat or republican), and 16 binary attributes (yes or no for voting for or against certain issues). Be aware - there are missing values!

- Read the dataset in from UCI, you'll need to provide a list of column headers
- Encode "yes" votes as 1 and "no" votes as 0. (You can use `df.replace()` to swap out these values)
- Use dataframe filtering to split the dataframe into two new dataframes based on party. Hold all republicans in one dataframe and all democrats in the other. These will be our two different "samples."

In [115]:
### YOUR WORK HERE

more_column_names=['Class Name','handicapped-infants','water-project-cost-sharing',
'adoption-of-the-budget-resolution','physician-fee-freeze',
'el-salvador-aid','religious-groups-in-schools',
'anti-satellite-test-ban','aid-to-nicaraguan-contras',
'mx-missile','immigration','synfuels-corporation-cutback',
'education-spending','superfund-right-to-sue',
'crime','duty-free-exports','export-administration-act-south-africa']

congress = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/voting-records/house-votes-84.data', names=more_column_names)
congress=congress.replace('?','NaN')
congress.head()

   Class Name  ... export-administration-act-south-africa
0  republican  ...                                      y
1  republican  ...                                    NaN
2    democrat  ...                                      n
3    democrat  ...                                      y
4    democrat  ...                                      y

[5 rows x 17 columns]

### 2) Perform two sample T-tests on different issues and report the results.

- Find an issue that democrats support more than republicans with p < 0.01 (significant at the 99% level).
- Find an issue that republicans support more than democrats with p < 0.01 (significant at the 99% level).
- Find an issue where the difference between republicans and democrats has p > 0.1 (Not significant at the 90% level - i.e. there may not be much of a difference the two sample means)

Please for each test that you run state your null and alternative hypothesis and then write a conclusion reflecting on the null and alternative hypothesis.

Remember, that two-sample t-tests will only tell us if the two groups are *different* from one another. We'll have to look at their sample means directly or use the sign on the t-statistic to know which of the two sample means is larger.

In [116]:
### YOUR WORK HERE
congress = congress.replace({'y': 1, 'n': 0})
congress.sample(15)

     Class Name  ... export-administration-act-south-africa
39     democrat  ...                                      1
359  republican  ...                                      1
313  republican  ...                                      1
228  republican  ...                                      1
156  republican  ...                                      0
227    democrat  ...                                      1
65   republican  ...                                      1
205    democrat  ...                                      1
6      democrat  ...                                      1
140  republican  ...                                      1
95     democrat  ...                                      1
71   republican  ...                                      1
252    democrat  ...                                      1
351  republican  ...                                      1
100    democrat  ...                                      1

[15 rows x 17 columns]

In [118]:
rep = congress[congress['Class Name']=='republican']
dem = congress[congress['Class Name']=='democrat']

ttest_ind(dem['immigration'], rep['immigration'],nan_policy='omit')

TypeError: ignored

## Stretch Goals:

### 1) Use functions and some iterator (for loop, .apply(), list comprehension, etc.) to perform two sample t-tests on every issue in the dataset in an automated fashion.

In [82]:
### YOUR WORK HERE



### 2) Work on Performing a T-test without using Scipy in order to get "under the hood" and learn more thoroughly about this topic.
### Start with a 1-sample t-test
 - Establish the conditions for your test 
 - [Calculate the T Statistic](https://blog.minitab.com/hs-fs/hubfs/Imported_Blog_Media/701f9c0efa98a38fb397f3c3ec459b66.png?width=247&height=172&name=701f9c0efa98a38fb397f3c3ec459b66.png) (You'll need to omit NaN values from your sample).
 - Translate that t-statistic into a P-value. You can use a [table](https://www.google.com/search?q=t+statistic+table) or the [University of Iowa Applet](https://homepage.divms.uiowa.edu/~mbognar/applets/t.html)

### Be sure to check your work using Scipy!

In [83]:
### YOUR WORK HERE

### 3) Then try a 2-sample t-test
 - Establish the conditions for your test 
 - [Calculate the T Statistic](https://lh3.googleusercontent.com/proxy/rJJ5ZOL9ZDvKOOeBihXoZDgfk7uv1YsRzSQ1Tc10RX-r2HrRpRLVqlE9CWX23csYQXcTniFwlBg3H-qR8MKJPBGnjwndqlhDX3JxoDE5Yg) (You'll need to omit NaN values from your sample).
 - Translate that t-statistic into a P-value. You can use a [table](https://www.google.com/search?q=t+statistic+table) or the [University of Iowa Applet](https://homepage.divms.uiowa.edu/~mbognar/applets/t.html)

 ### Be sure to check your work using Scipy!

In [84]:
### YOUR WORK HERE